@use '~styles' as *;

.home__menu-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
}

.home__divider {
  width: spacing(2);
  height: 33.4rem; // Mudar quando tiver os contents
  border-radius: border(radius, circular);
  background-color: color(purple, 10);
}
