@use '~styles' as *;

.home-buttons-container {
  display: flex;
  flex-direction: column;
  gap: spacing(3);
  align-items: center;
}

.container-in,
.container-out {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-out {
  background-color: color(blue, 20);
  padding: spacing(1);
  border-radius: border(radius, xxlarge);
  width: fit-content;
  height: 5rem;
}

.container-in {
  background-color: color(yellow, 10);
  padding: spacing(2);
  border-radius: border(radius, xxlarge);
  margin-left: 0;
  position: relative;
  width: 22rem;
  height: 4.6rem;
  border-bottom: border(width, medium) solid rgba(255, 0, 0, 0.2);
}

.background-plus {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  left: 1.3rem;
  top: 0.6rem;
  z-index: 1;
  background-color: color(red, base);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: border(radius, circular);
  box-shadow: 0 0.2rem 0 color(red, 10);
}

.plus-icon {
  width: 1.79rem;
  height: 1.79rem;
}

.create-room {
  font-size: font(size, 60);
  font-weight: font(weight, extra-bold);
  color: color(white, base);
  text-shadow:
    -0.15rem -0.15rem 0 color(blue, 10),
    0.15rem -0.15rem 0 color(blue, 10),
    -0.15rem 0.15rem 0 color(blue, 10),
    0.15rem 0.15rem 0 color(blue, 10),
    -0.1rem 0 0 color(blue, 10),
    0.1rem 0 0 color(blue, 10),
    0 -0.1rem 0 color(blue, 10),
    0 0.1rem 0 color(blue, 10);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: spacing(8);
}
