@use '~styles' as *;

.home__secondary-navbar {
  width: 76.8rem;
  display: flex;
  align-items: center;
  margin-bottom: 2.8rem;
  justify-content: space-between;
}

.home__secondary-display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  width: 76.8rem;
  height: 40.4rem;
  background-color: color(purple, 50);
  border-radius: border(radius, medium);
  border: solid border(width, medium) color(purple, 20);
}

.home__secondary-buttons {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.8rem;
  height: 35.6rem;
}

.home__secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24.4rem;
  height: 5.2rem;
  background-color: #cccbff;
  border: solid border(width, light) #f9f8ff;
  border-radius: border(radius, medium);
  cursor: pointer;

  &.selected {
    background-color: #f9f8ff;
  }
}

.home__secondary-button-label {
  font-size: 1.8rem;
  font-weight: font(weight, extra-bold);
  color: color(blue, 50);
}

.home__secondary-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  width: 46rem;
  height: 35.6rem;
  background-color: color(purple, 10);
  border-radius: border(radius, medium);
}

.home__secondary-title {
  width: 43rem;
  font-size: 2rem;
  font-weight: font(weight, semi-bold);
  text-align: center;
  color: white;
}

.home__secondary-description {
  width: 43rem;
  height: 19.2rem;
  font-size: 1.4rem;
  font-weight: font(weight, normal);
  text-align: center;
  color: white;
  white-space: pre-line;
}

.home__secondary-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43rem;
  gap: 1.6rem;
}

@media (max-width: 48rem) {
  .home__secondary-navbar {
    width: 100%;
    margin-bottom: 2rem;
  }

  .home__secondary-display {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: spacing(4) spacing(3);
  }

  .home__secondary-buttons {
    height: auto;
    width: 100%;
  }

  .home__secondary-button {
    width: 100%;
  }

  .home__secondary-details {
    width: 100%;
    height: auto;
    padding: spacing(4) spacing(3);
  }

  .home__secondary-description {
    width: 100%;
    height: auto;
  }

  .home__secondary-title,
  .home__secondary-social {
    width: 100%;
  }
}

.home__secondary-icon {
  height: 3rem;
  width: auto;

  img {
    height: 100%;
    width: 100%;
  }
}
