@use 'variables' as *;
@use 'helpers' as *;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: font(family, primary), sans-serif;
  color: color(black, 100);
}

h1 {
  font-size: font(size, 90);
  font-weight: font(weight, bold);
}

h2 {
  font-size: font(size, 70);
  font-weight: font(weight, bold);
}

p {
  font-size: font(size, 60);
  font-weight: font(weight, regular);
}
