$font: (
  family: (
    primary: 'Inter',
  ),
  weight: (
    thin: 100,
    extra-light: 200,
    light: 300,
    normal: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700,
    extra-bold: 800,
    black: 900,
  ),
  size: (
    1: 0.4rem,
    8: 0.8rem,
    10: 1rem,
    20: 1.2rem,
    30: 1.4rem,
    40: 1.6rem,
    50: 1.8rem,
    60: 2rem,
    70: 2.4rem,
    80: 2.8rem,
    90: 3.2rem,
    100: 4rem,
    110: 4.8rem,
    120: 5.6rem,
    130: 6.4rem,
    140: 7.2rem,
  ),
);

$color: (
  neutral: (
    10: rgb(238, 238, 238),
    20: rgb(204, 204, 204),
    30: rgb(170, 170, 170),
    40: rgb(136, 136, 136),
    50: rgb(102, 102, 102),
    60: rgb(69, 69, 69),
    70: rgb(51, 51, 51),
    80: rgb(38, 38, 38),
    90: rgb(31, 31, 31),
    100: rgb(25, 25, 25),
  ),
  black: (
    base: rgb(0, 0, 0),
    10: rgba(0, 0, 0, 0.1),
    20: rgba(0, 0, 0, 0.2),
    30: rgba(0, 0, 0, 0.3),
    40: rgba(0, 0, 0, 0.4),
    50: rgba(0, 0, 0, 0.5),
    60: rgba(0, 0, 0, 0.6),
    80: rgba(0, 0, 0, 0.8),
    100: rgb(25, 25, 25),
  ),
  white: (
    base: rgb(255, 255, 255),
    10: rgba(255, 255, 255, 0.1),
    20: rgba(255, 255, 255, 0.2),
    30: rgba(255, 255, 255, 0.3),
    40: rgba(255, 255, 255, 0.4),
    50: rgba(255, 255, 255, 0.5),
    60: rgba(255, 255, 255, 0.6),
    70: rgba(255, 255, 255, 0.7),
    80: rgba(255, 255, 255, 0.8),
    90: rgba(255, 255, 255, 0.9),
    100: rgb(230, 230, 230),
  ),
  blue: (
    10: #1b0467,
    20: #071381,
    30: #2d259d,
  ),
  purple: (
    10: #5c5cef,
    20: #302d94,
    30: #cccbff,
    40: #deddfd,
  ),
  red: (
    base: #ef6885,
  ),
  yellow: (
    base: #fdc75f,
    10: #ffd481,
  ),
);

$spacing: (
  1: 0.4rem,
  2: 0.8rem,
  3: 1.2rem,
  4: 1.6rem,
  5: 2rem,
  6: 2.4rem,
  7: 2.8rem,
  8: 3.2rem,
  9: 4rem,
  10: 4.8rem,
  11: 5.6rem,
  12: 6.4rem,
  13: 7.2rem,
  14: 8rem,
  15: 8.8rem,
);

$border: (
  width: (
    thin: 0.1rem,
    light: 0.2rem,
    medium: 0.4rem,
    heavy: 0.6rem,
  ),
  radius: (
    small: 0.4rem,
    medium: 0.8rem,
    large: 1.2rem,
    xlarge: 1.6rem,
    xxlarge: 2.4rem,
    circular: 1000rem,
  ),
);

$icon: (
  1: 1.6rem,
  2: 2.4rem,
  3: 3.2rem,
  4: 4.8rem,
  5: 5.6rem,
  6: 6.4rem,
);

$button: (
  1: 4.8rem,
  2: 5.6rem,
  3: 6.4rem,
);

$input: (
  1: 4.8rem,
  2: 5.6rem,
  3: 6.4rem,
);
