@use '~styles' as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: calc(button(1) + border(width, medium) * 2);

  background-color: color(yellow, base);
  border-radius: border(radius, circular);
  border: solid border(width, medium) color(purple, 20);

  cursor: pointer;

  &:hover {
    background-color: color(yellow, 10);
  }

  &.secondary {
    background-color: color(purple, 30);

    &:hover {
      background-color: color(purple, 40);
    }
  }

  &.agree {
    background-color: color(green, base);
  }

  &.disagree {
    background-color: color(red, 30);
  }
}

.button__text {
  font-size: 1.8rem;
  font-weight: font(weight, medium);
  color: color(white, base);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-text-stroke: 0.4rem color(purple, 20);
  paint-order: stroke fill;

  &.secondary {
    color: color(purple, 20);
    font-weight: bolder;
    letter-spacing: 0.08rem;

    -webkit-text-stroke: 0.08rem color(purple, 20);
    paint-order: stroke fill;
  }
}
