@use '~styles' as *;

.player__container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: spacing(11);
  justify-content: center;
  align-items: center;
  gap: spacing(2);
  padding: spacing(3);
  border-radius: border(radius, medium);
  background-color: color(blue, 30);

  &.selected {
    background-color: color(purple, 30);

    .player__name {
      color: color(blue, 20);
    }
  }
}

.player__avatar {
  width: spacing(8);
  height: spacing(8);
  background-color: color(red, base);
  border-radius: border(radius, circular);
  border: solid border(width, light) color(white, base);
}

.player__name {
  display: block;
  width: 15rem;
  font-size: font(size, 60);
  font-weight: font(weight, semi-bold);
  color: color(white, 90);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player__wins-container {
  display: flex;
  width: 80px;
  height: 34px;
  justify-content: center;
  align-items: center;
  border-radius: border(radius, circular);
  background-color: color(purple, 10);
}

.player__wins {
  font-size: font(size, 60);
  font-weight: font(weight, semi-bold);
  color: color(white, base);
}
