@use '~styles' as *;

.player__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: spacing(9);
  justify-content: center;
  align-items: center;
  gap: spacing(2);
  padding: spacing(2);
  border-radius: border(radius, medium);
  background-color: color(blue, 30);
  border-left: 0.4rem solid transparent;
  transition:
    background-color 0.2s,
    border-color 0.2s;

  &.selected {
    background-color: color(purple, 30);
    border-left-color: color(blue, 40);

    .player__name {
      color: color(blue, 20);
    }
  }
}

.player__avatar {
  flex-shrink: 0;
  width: clamp(2.4rem, 3.5vw, 3.6rem);
  height: clamp(2.4rem, 3.5vw, 3.6rem);
  background-color: color(red, base);
  border-radius: border(radius, circular);
  border: solid border(width, light) color(white, base);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.player__name {
  display: block;
  flex: 1;
  min-width: 0;
  font-size: clamp(1.2rem, 1.4vw, font(size, 60));
  font-weight: font(weight, semi-bold);
  color: color(white, 90);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player__wins-pill {
  flex-shrink: 0;
  display: flex;
  width: clamp(3.2rem, 4vw, spacing(14));
  height: clamp(2.4rem, 3vw, spacing(8));
  justify-content: center;
  align-items: center;
  border-radius: border(radius, circular);
  background-color: color(purple, 10);
}

.player__wins-count {
  font-size: clamp(1.2rem, 1.4vw, font(size, 60));
  font-weight: font(weight, semi-bold);
  color: color(white, base);
}
