@use '~styles' as *;

.join-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.join {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: spacing(7);
  width: 60rem;
  height: 31.5rem;
  background-color: color(purple, 60);
  border-radius: border(radius, large);
  max-width: 94vw;
}

.join__close {
  position: absolute;
  top: 1.2rem;
  right: 1.8rem;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: font(size, 40);
  color: color(neutral, base);
  border: solid 0.4rem color(blue, 80);
  border-radius: border(radius, circular);
  cursor: pointer;

  img {
    width: 1.2rem;
    height: 1.2rem;
  }

  &:hover {
    filter: brightness(1.3);
  }
}

.join__title {
  font-size: font(size, 70);
  letter-spacing: 1%;
  color: color(blue, 40);
  -webkit-text-stroke: 0.4rem color(neutral, 40);
  paint-order: stroke fill;
}

.join__text {
  font-size: font(size, 60);
  color: color(blue, 60);
  font-weight: font(weight, bold);
}

.join__input {
  width: 40rem;
  height: input(1);
  background-color: color(blue, 70);
  border-radius: border(radius, large);
  border: solid 0.2rem color(white, base);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: color(blue, 50);

  &.error {
    border-color: red;
  }

  &::placeholder {
    color: color(blue, 50);
    opacity: 0.5;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}
