@use '~styles' as *;

.toast__text {
  font-size: font(size, 60);
  color: color(blue, 60);
  font-weight: font(weight, bold);
}

.toast__player-name {
  color: color(red, 10);
  font-weight: font(weight, extra-bold);
}
